* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  background-color: hsla(189deg, 76%, 78%, 0.1);
}

.navbar {
  height: 10vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-links ul {
  margin-top: 10px;
  font-size: 2rem;
}
.navbar label .menu {
  position: absolute;
  right: 10px;
  z-index: 100;
  width: 2rem;
  height: 2rem;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
}
.navbar label .hamburger {
  position: absolute;
  width: 25px;
  height: 2px;
  background: hsl(310deg, 100%, 49%);
  display: block;
  transform-origin: center;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navbar label .hamburger:after,
.navbar label .hamburger:before {
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: hsl(310deg, 100%, 49%);
}
.navbar label .hamburger:before {
  top: -10px;
}
.navbar label .hamburger:after {
  bottom: -10px;
}
.navbar label input {
  display: none;
}
.navbar label input:checked + .menu {
  box-shadow: 0 0 0 5vw transparent, 0 0 0 5vh transparent;
  border-radius: 100%;
}
.navbar label input:checked + .menu .hamburger {
  transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}
.navbar label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
.navbar label input:checked + .menu + ul {
  opacity: 1;
}
.navbar label ul {
  z-index: 200;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}
.navbar label a {
  display: inline-flex;
  place-items: center;
  color: hsl(0deg, 0%, 20%);
  text-decoration: none;
  list-style: none;
  font-size: 0.8rem;
}

.navbar-response {
  opacity: 0;
}

.projects {
  padding: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.projects-heading {
  margin-bottom: 1rem;
}
.projects .proj-img {
  width: 15rem;
  height: 11rem;
  padding: 1rem 0 1rem 0;
}
.projects .proj-img p {
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 0.9rem;
}
.projects .proj-img img {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  transition: all 250ms ease-in;
}
.projects .proj-img :hover {
  transform: scale(1.1);
  margin-bottom: 0.6rem;
}

main .home {
  display: flex;
  place-items: center;
  flex-direction: column;
  display: inherit;
}
main .home-intro {
  display: flex;
  place-items: center;
  flex-direction: column;
}
main .home-intro-heading {
  padding: 1rem;
  line-height: 2rem;
}
main .home-intro-heading h1 {
  padding: 1rem 0 1rem 0;
}
main .home-specialization {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 1rem;
}
main .home-specialization-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .home-specialization-grid .card {
  width: 70%;
  border: solid 1px;
  background-color: white;
  padding: 0.5rem;
}

.contact-heading h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-grid {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.contact-grid h3 {
  font-size: 0.9rem;
  text-align: center;
}

.email-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.email-sub form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.email-sub form .email-form {
  display: flex;
  flex-direction: column;
}
.email-sub form .email-form input {
  width: 180px;
  height: 30px;
  margin-top: 0.6rem;
}
.email-sub form button {
  width: 180px;
  margin-top: 1rem;
  padding: 1rem;
  background: hsl(310deg, 100%, 49%);
  color: white;
  border: solid hsl(310deg, 100%, 49%);
  border-radius: 4px;
  font-weight: bold;
}

@media (min-width: 400px) and (max-width: 767px) {
  .projects {
    padding: 3rem;
    margin-top: 2rem;
  }
  .projects .proj-img {
    width: 26rem;
    height: 18rem;
    padding: 2rem;
  }
  label a {
    font-size: 1.1rem !important;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  label .menu .hamburger {
    display: none;
  }
  label ul {
    display: none;
  }
  form button {
    font-size: 1.2rem;
  }
  .navbar-response {
    width: 100%;
    opacity: 1;
  }
  .navbar-response .respns-links {
    display: flex;
    place-content: center;
    font-size: 2rem;
  }
  .navbar-response ul li {
    display: inline-flex;
    padding: 2.5rem;
    list-style: none;
  }
  .navbar-response ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  .navbar-response ul li a::after {
    z-index: 300;
    display: block;
    content: "";
    border-bottom: 3px solid hsl(310deg, 100%, 49%);
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
  }
  .navbar-response ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: 50% 50%;
  }
  .projects {
    padding: 3rem;
    margin-top: 2rem;
    gap: 1rem;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
  }
  .projects-grid .proj-img {
    width: 24rem;
    height: 17.6rem;
    padding: 5%;
  }
  .projects-grid .proj-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    transition: all 250ms ease-in;
  }
  .projects-grid .proj-img :hover {
    transform: scale(1.1);
    margin-bottom: 1rem;
  }
  .projects-grid .proj-img.one {
    grid-column: 1/2;
    grid-row: 1/2;
    animation: from-left 1 1s linear;
  }
  .projects-grid .proj-img.two {
    grid-column: 2/3;
    grid-row: 1/2;
    animation: from-right 1 1s linear;
  }
  .projects-grid .proj-img.three {
    grid-column: 1/2;
    grid-row: 2/3;
    animation: from-left 1 1s linear;
  }
  .projects-grid .proj-img.four {
    grid-column: 2/3;
    grid-row: 2/3;
    animation: from-right 1 1s linear;
  }
  .home-intro-heading {
    line-height: 3rem !important;
    padding: 3rem !important;
  }
  .contact p {
    font-size: 0.9rem;
  }
  main .home-specialization-grid {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main .home-specialization-grid .card {
    min-height: 142px;
    width: 40%;
    border: solid 1px;
    background-color: white;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .projects {
    padding: 3rem;
    margin-top: 2rem;
  }
  .projects .proj-img {
    padding: 2rem;
    width: 28rem;
    height: 18rem;
  }
  .projects .proj-img .one,
.projects .proj-img .two,
.projects .proj-img .three,
.projects .proj-img .four {
    display: flex;
  }
  main .home .home-specialization-grid .card {
    width: 1023px !important;
    min-height: 100px;
    max-width: 1023px !important;
    border: solid 1px;
    background-color: white;
    padding: 0.5rem;
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    position: relative;
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    position: relative;
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
footer {
  height: 10vh;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .soc-med {
  color: white;
  position: absolute;
  right: 2rem;
}
footer .soc-med i {
  cursor: pointer;
  color: white;
  padding: 0.3rem;
}

/*# sourceMappingURL=main.css.map */
