@import "mixins";

* {
  @include base;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  background-color: rgba(158, 229, 242, 0.1);
}

.navbar {
  height: 10vh;

  background: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  label .menu {
    position: absolute;
    right: 10px;
    z-index: 100;
    width: 2rem;
    height: 2rem;
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }

  label .hamburger {
    position: absolute;
    width: 25px;
    height: 2px;
    background: hsl(310, 100%, 49%);
    display: block;
    transform-origin: center;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: hsl(310, 100%, 49%);
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    display: flex;
    flex-direction: column;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: #333;
    text-decoration: none;
    list-style: none;
  }
}

.navbar-response {
  opacity: 0;
}
.projects {
  display: flex;
  flex-direction: column;
  place-items: center;

  .proj-img {
    width: 17rem;
    height: 11rem;
    padding: 1rem 0 1rem 0;
    p {
      text-align: center;
      text-decoration: none;
      border: none;
      font-size: 0.9rem;
    }
    img {
      width: 100%;
      height: 100%;
      border: 1px solid #333;
      transition: all 250ms ease-in;
    }
    :hover {
      transform: scale(1.1);
      margin-bottom: .6rem;
    }
  }
}

@media (min-width: 768px) {
  label {
    display: none;
  }

  .navbar-response {
    width: 100%;
    opacity: 1;

    .respns-links {
      display: flex;
      place-content: center;
    }

    ul li {
      display: inline-flex;
      padding: 2.5rem;
      list-style: none;
      a {
        text-decoration: none;
        color: #333;
        cursor: pointer;

        &::after {
          display: block;
          content: "";
          border-bottom: 3px solid hsl(310, 100%, 49%);
          transform: scaleX(0);
          transition: transform 500ms ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: 50% 50%;
        }
      }
    }
  }
  .projects {
    width: 100vw;
    &-grid {
      display: grid;
      grid-template-columns: repeat(1fr, 1fr);
      grid-template-rows: repeat(2, 1fr);
      place-content: center;

      .proj-img {
        width: 24rem;
        height: 16rem;
        padding: 3rem;
        img {
          width: 100%;
          height: 100%;
          border: 1px solid #333;
          transition: all 250ms ease-in;
        }
        :hover {
          transform: scale(1.1);
          margin-bottom: 1rem;
        }
      }
      .proj-img.one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        animation: from-left 1 1s linear;
      }
      .proj-img.two {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        animation: from-right 1 1s linear;
      }
      .proj-img.three {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        animation: from-left 1 1s linear;
      }
      .proj-img.four {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        animation: from-right 1 1s linear;
      }
    }
  }

  @keyframes from-right {
    0% {
      opacity: 0;
      position: relative;
      right: -100%;
    }
    100% {
      right: 100%;
    }
  }
  @keyframes from-left {
    0% {
      opacity: 0;
      position: relative;
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
}

footer {
  height: 10vh;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
